/* Customize nested lists */
ol[data-list-decimal] {
  list-style-type: decimal;
}
ol[data-list-decimal] > li > ol {
  list-style-type: lower-alpha;
}
ol[data-list-lower-alpha] {
  list-style-type: lower-alpha;
}
